.simList {
    justify-content: space-evenly;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;

}

.operChoice {
    padding-left: 15px;
}

@media screen and (max-device-width: 650px) {
    .simList {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .simField {
        margin-left: 25%;
        margin-bottom: 20px;
    }

}
